.nav-head {
  background-color: white !important;
  width: 1000px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 50px;
}

@media (max-width: 1199px) {
  .nav-head {
    background-color: white !important;
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-bottom: 50px;
  }
}

.nav-link-style {
  margin-top: 4px;
  font-weight: 600;
  color: black;
  margin: 10px;
  transition: background-color 0.3s, border-radius 0.25s;
  min-width: fit-content;
}

.nav-link-style:hover  {
  border-radius: 20px;
  background-color: rgb(216, 203, 203);
}

.signin-button-user-password {
  background-color: black;
  border-color: black;
  border-radius: 30px;
  margin-top: 5px;
  min-width: 90px;
}

.signin-button-user-password:hover {
  background-color: rgb(57, 57, 55);
  border-color: rgb(57, 57, 55);
}

@media (max-width: 991px) {
  .svg-NavLogo {
    width: 70%;
    position: relative;
  }
}

.svg-home-logo {
  width: 15%;
  padding-top: 0px;
  margin-top: 0px;
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 0px;
}

@media (max-width: 991px) {
  .svg-home-logo {
    width: 40%;
    padding-top: 0px;
    margin-top: 0px;
    display: inline-block;
  }
}

@media (max-width: 991px) {
  .nav-link-style  {
    padding: 10px;
    width: fit-content;
  }
}

@media (max-width: 991px) {
  .nav-link-style:hover  {
    border-radius: 20px;
    background-color: rgb(216, 203, 203);
    width: fit-content;
    padding: 10px;
  }
}

.right-sided-links {
  position: absolute;
  right: 0px;
}

@media (max-width: 991px) {
.right-sided-links {
  position: relative;
}
}

